<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.createdAt | date:'dd MMMM YYYY'}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success" (click)="selectTab('messages')">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs member-tabset">
            <li [ngbNavItem]="'about'">
                <a ngbNavLink>About {{member.knownAs}}</a>
                <ng-template ngbNavContent>
                    <h4>Description</h4>
                    <p>{{member.introduction}}</p>
                    <h4>Looking for</h4>
                    <p>{{member.lookingFor}}</p>
                </ng-template>
            </li>
            <li [ngbNavItem]="'interests'">
                <a ngbNavLink>Interests</a>
                <ng-template ngbNavContent>
                    <h4>Interests</h4>
                    <p>{{member.interests}}</p>
                </ng-template>
            </li>
            <li [ngbNavItem]="'photos'">
                <a ngbNavLink>Photos</a>
                <ng-template ngbNavContent>
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"
                        style=" display: inline-block; margin-bottom: 20px; "></ngx-gallery>
                </ng-template>
            </li>
            <li [ngbNavItem]="'messages'">
                <a ngbNavLink>Messages</a>
                <ng-template ngbNavContent>
                    <app-member-messages [username]="member.username"></app-member-messages>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>