<h2>Admin Panel</h2>
<div class="tab-panel">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="'user-management'" *appHasRole='["Admin"]'>
            <a ngbNavLink>User Management</a>
            <ng-template ngbNavContent>
                <app-user-management></app-user-management>
            </ng-template>
        </li>
        <li [ngbNavItem]="'photo-management'" *appHasRole='["Admin", "Moderator"]'>
            <a ngbNavLink>Photo Management</a>
            <ng-template ngbNavContent>
                <app-photo-management></app-photo-management>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>