<div class="text-center mt-3">
    <h2>Your matches - {{ pagination?.totalItems }} found!</h2>
</div>

<div class="cotainer mt-3">
    <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="form-group">
            <label>Age from:</label>
            <input type="number" class="form-control ml-1" style="width: 70px;" name="minAge"
                [(ngModel)]="userParams.minAge">
        </div>

        <div class="form-group px-2">
            <label>Age to:</label>
            <input type="number" class="form-control ml-1" style="width: 70px;" name="maxAge"
                [(ngModel)]="userParams.maxAge">
        </div>

        <div class="form-group px-2">
            <label>Show:</label>
            <select class="form-control ml-1" style="width: 130px;" name="gender" [(ngModel)]="userParams.gender">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                    {{ gender.display }}
                </option>
            </select>
        </div>

        <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
        <button class="btn btn-info ml-1" (click)="resetFilters()">Reset Filters</button>
        <div class="col">
            <div class="btn-group btn-group-toggle float-right" ngbRadioGroup name="sortBy"
                [(ngModel)]="userParams.orderBy">
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="'lastActive'" (change)="loadMembers()"> LastActive
                </label>
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="'created'" (change)="loadMembers()"> Newest Member
                </label>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div *ngFor="let member of members" class="col-2">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <ngb-pagination [collectionSize]="pagination.totalItems" [pageSize]="pagination.itemsPerPage"
        [(page)]="pagination.currentPage" (pageChange)="pageChange($event)" aria-label="Default pagination">
    </ngb-pagination>
</div>